
#export GTK_THEME="Nordic"
#export QT_QPA_PLATFORMTHEME=qt6ct
#export QT_STYLE_OVERRIDE=kvantum
#
## random wallpaper at startup
#feh --bg-fill --randomize ~/wallpapers/* &

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"
export SSH_AUTH_SOCK

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh
